
$site-width:  960px;
$site-gutter: 10%;

// BREAKPOINTS
$phone: 480px;
$tablet:  768px;
$desktop: 1024px;
$large: 1200px;
$xlarge: 1400px;
$xxlarge: 1600px;

// SPACING
$margin-section: 4em;

// FONTS
$sans: "Work Sans", Helvetica, Arial, sans-serif;
$serif: "Source Serif Pro", serif;

// COLORS
$black: #2d2d2d;
$sub-black: #5d5d5d;
//$primary-light: #2FE0C5;
$primary-light: #388E8E;
$red: #DABECA;
$primary-dark: #29C6B2;
$primary-text: #3cdab4;

$logo-light-green: #71f1d6;
$logo-dark-green: #60d5b9;
$white: #fff;
$grey: #fbfbfb;
$dark-grey: #666;
$grey-border: #dadada;
