.article {
    font-family: $serif;

    a {
        text-decoration-line: none;
        font-weight: 600;

        &:after {
            position: relative;
            content: "\FEFF°";
            margin-left: 0.10em;
            font-size: 90%;
            top: -0.10em;
            color: #933;
            font-feature-settings: "caps";
            font-variant-numeric: normal;
        }
    }

    &__title {
        @include margin-bottom(0.5);
    }

    &__subtitle {
        margin-top: 0;
        @include margin-bottom(2.5);
    }
}
