.hero {
    margin-top: margin(4);

    &__img {
        clip-path: circle(50% at center);
        width: 80%;
        max-width: 400px;
        display: block;
        margin: 0 auto margin(1) auto;
    }

    &__title {
        text-align: center;
        max-width: 400px;
        line-height: 1.6;
        margin: 0 auto;
        font-weight: 400;
        color: $black;
    }
}
