.hero {
    @include min($tablet) {
        // max-width: 450px;
        // margin-top: 42vh;
    }

        max-width: 400px;
        margin: 12rem auto 6rem auto;

    &__img {
        clip-path: circle(50% at center);
        width: 100%;
        display: block;
        margin-bottom: 2rem;
    }

    &__title {
        // margin-top: 3rem;
        text-align: center;
        line-height: 1.5;
        font-size: 1rem;
        // font-family: $serif;
        // font-weight: 400;
        color: $black;
    }
}
