.photos {
    overflow: hidden;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin-bottom: 0.4em;
    margin-right: -$margin-gallery-small;
    @include min($tablet) { margin-right: -$margin-gallery-large; }

    .gallery__item {
        // to position overlays
        position: relative;

        margin: 0 $margin-gallery-small $margin-gallery-small 0;
        @include min($tablet) {
            margin: 0 $margin-gallery-large $margin-gallery-large 0;
        }

        > div {
            position: relative;
            aspect-ratio: 1;

            @supports not (aspect-ratio: 1) {
                &::before {
                    float: left;
                    content: "";
                    padding-bottom: 100%;
                }

                &::after {
                    display: block;
                    content: "";
                    clear: both;
                }
            }
        }

        &__img {
            position: absolute;
            margin: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            &:hover {
                filter: brightness(75%);
            }

        }

        &__play {
            position: absolute;
            top: 5%;
            right: 5%;
            color: $white;
            font-size: 1rem;
            opacity: 0.8;
        }

    }

}
