.photos {
    overflow: hidden;
    &__grid {
        display: flex;
        flex-flow: row wrap;
        overflow: hidden;
        margin-right: -5px;
        margin-bottom: 0.4em;

        &__item {
            flex-grow: 1;
            height: 14rem;
            flex-basis: auto; // Gives good-looking "random" layout
            // flex-basis: 20rem; // Square layout
            margin: 0 5px 5px 0;

            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__more {
        float: right;
        font-weight: 400;
        font-size: $h3;
        text-decoration: underline;
    }
}
