.writing {
    &__posts {
        padding: 0;
        &__item {
            list-style-type: none;
            // font-style: normal;

            &__title {
                // display: block;
                // margin-bottom: 0rem;
                @include margin-top(0.5);
                @include margin-bottom(0);
                // REVIEW: inconsistency
                font-weight: 600;
            }

            &__date {
                float: right;
                // position: relative;
                margin-left: 1rem;
                color: $faint;
            }

            &__summary {
                @include margin-top(0);
                color: $faint;
            }
        }
    }
}
