<footer class="footer">

  <div class="footer__social">
    <a class="footer__social__icon" href="https://www.github.com/akoen">
      <i class="fa fa-github"></i>
    </a>
    <!-- HACK: The --minify option removes needed spacing. This is a hack---should
         be using margins/padding instead -->
    &nbsp;
    <a class="footer__social__icon" href="https://www.instagram.com/alex.koen">
      <i class="fa fa-instagram"></i>
    </a>
    &nbsp;
    <a class="footer__social__icon" href="/rss">
      <i class="fa fa-rss"></i>
    </a>
    &nbsp;
  </div>
  <p class="footer__copyright">
    © Copyright {{ now.Year }} <i class="fa fa-heart" aria-hidden="true"></i>&nbsp;{{ .Site.Author.name }}
  </p>
</footer>
