<section class="footer">
  <footer>

    <div clas="footer_social">
      <a class="footer__social__icon" href="https://www.github.com/akoen">
        <i class="fa fa-github"></i>
      </a>

      <a class="footer__social__icon" href="https://www.instagram.com/alex.koen">
        <i class="fa fa-instagram"></i>
      </a>

      <a class="footer__social__icon" href="https://www.alexkoen.com">
        <i class="fa fa-safari"></i>
      </a>
    </div>
    <p class="footer__copyright">
      © Copyright {{ now.Year }} <i class="fa fa-heart" aria-hidden="true"></i> {{ .Site.Params.Author }}
    </p>
  </footer>
</section>
