<!-- Responsive gallery partial.

     Example (remove /* */ in template):

     {{/* partial "gallery.html" (dict
     "context" .
     "photos" (first 16 (sort (resources.Match "images/**.{jpeg,h264.mp4}") "Name" "desc")))  */}}

     where CONTEXT is the site context (always .) and PHOTOS is an array of media
     resources in .jpeg or mp4 format.

     must define site params:
     .params.imageThumbQuality
     .params.imageResponsiveWidths

     AUTHOR: Alex Koen
-->

<div id="gallery" class="pswp-gallery">
  {{ range $file := .photos }}
    {{ if (eq $file.ResourceType "image") }}
      <!-- IMAGES -->
      {{ $img := $file.Resize "x1024 q90"}}
      {{ $thumb := $img.Resize $.context.Site.Params.imageThumbQuality }}
      {{ $srcset := (partial "srcset.html" $img) }}

      <a class="gallery__item"
         href="{{ $img.Permalink }}"
         data-pswp-width="{{ $img.Width }}"
         data-pswp-height="{{ $img.Height }}"
         data-cropped="true"
         target="_blank"
         data2-srcset="{{ $srcset.srcset }}"
      >
        <div>
          <img class="gallery__item__img"
               src="{{ $thumb.Permalink }}"
          />
        </div>
      </a>
    {{ else }}
    {{ end  }}
  {{ end  }}
</div>
