<!-- Responsive gallery partial.

     Example (remove /* */ in template):

     {{/* partial "gallery.html" (dict
     "context" .
     "photos" (first 16 (sort (resources.Match "images/**.{jpeg,mp4,mov}") "Name" "desc")))  */}}

     where CONTEXT is the site context (always .) and PHOTOS is an array of media
     resources in .jpeg or mp4 format.

     must define site params:
     .params.imageThumbQuality
     .params.imageResponsiveWidths

     AUTHOR: Alex Koen
-->

<div id="gallery" class="pswp-gallery">
  {{ range $file := .photos }}
    {{ if (eq $file.ResourceType "image") }}
      <!-- IMAGES -->
      {{ $img := $file}}
      {{ $unloadedThumb := $img.Resize "x1" }}
      {{ $thumb := $img.Fill $.context.Site.Params.imageThumbQuality }}
      {{ $srcset := (partial "srcset.html" $img) }}

      <a class="gallery__item photoswipe-element"
         href="{{ $img.Permalink }}"
         data-pswp-width="{{ $img.Width }}"
         data-pswp-height="{{ $img.Height }}"
         data-pswp-responsive="{{ $srcset.srcset }}"
         data-cropped="true"
         target="_blank"
      >
        <div>
          <img class="lazy gallery__item__img"
               src="{{ $unloadedThumb.Permalink }}"
               data-src="{{ $thumb.Permalink }}"
          />
        </div>
      </a>
    {{ else }}
      <!-- VIDEOS -->
      {{ $h264 := $file.Transcode "mp4" "-c:v libx264 -profile:v high -preset veryslow -r 30 -vf scale=720:-2 -b:v 1000k -minrate 500k -maxrate 1500k -bufsize 5000k -movflags +faststart -c:a aac -b:a 128k -threads 0" }}
      {{ $thumb := $file.Thumbnail.Fill $.context.Site.Params.imageThumbQuality }}
      {{ $unloadedThumb := $thumb.Resize "x1" }}

      <a class="gallery__item"
         href="{{ $h264.Permalink }} "
         >
        <img class="lazy gallery__item__img"
             src="{{ $unloadedThumb.Permalink }}"
             data-src="{{ $thumb.Permalink }}"/>
        <i class="fa fa-play gallery__item__play" aria-hidden="true"></i>
      </a>
    {{ end  }}
  {{ end  }}
</div>

