<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{ block "title" . }}
  {{- .Title }} {{ .Site.Title -}}
{{ end }}</title>

{{- if .Description -}}
  <meta name="description" content="{{ .Description | safeHTML }}" />
{{- else if .IsPage -}}
  <meta name="description" content="{{ .Summary | plainify }}" />
{{- else if .Site.Params.description -}}
  <meta name="description" content="{{ .Site.Params.description | safeHTML }}" />
{{- end -}}

{{- if .Keywords }}
  <meta name="keywords" content="{{ delimit .Keywords "," }}" />
{{ end -}}

<meta name="author" content="{{ .Site.Author.name}}" />

<!-- TODO Make local -->
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.1/dist/lazyload.min.js"></script>
<script data-goatcounter="https://alexkoen.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

{{ $styles := resources.Get "css/style.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}">

<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" media="screen" />

<link rel="preload" href="/fonts/work-sans-v8-latin-500.woff2" as="font" type="font/woff2"/>
<link rel="preload" href="/fonts/work-sans-v8-latin-regular.woff2" as="font" type="font/woff2"/>
<link rel="preload" href="/fonts/fontawesome-webfont.woff2?v=4.7.0" as="font" type="font/woff"/>
<link rel="preload" href="/fonts/work-sans-v8-latin-600.woff2" as="font" type="font/woff2"/>
