<header>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__name">
        <a href="{{ .Site.Home.Permalink }}"> {{ .Site.Title }} </a>
      </li>
      <li class="nav__links">
        <a href="/#projects">Projects</a>
      </li>
      <li class="nav__links">
        <a href="/#writing">Writing</a>
      </li>
      <li class="nav__links">
        <a href="/#photos">Photos</a>
      </li>
      <li class="nav__contact">
        <a href="mailto:hi@koen.ca"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </li>
    </ul>
  </nav>
</header>
