<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{ block "title" . }}
  {{- .Title }} {{ .Site.Title -}}
{{ end }}</title>

{{- if .Description -}}
  <meta name="description" content="{{ .Description | safeHTML }}" />
{{- else if .IsPage -}}
  <meta name="description" content="{{ .Summary | plainify }}" />
{{- else if .Site.Params.description -}}
  <meta name="description" content="{{ .Site.Params.description | safeHTML }}" />
{{- end -}}

{{- if .Keywords }}
  <meta name="keywords" content="{{ delimit .Keywords "," }}" />
{{ end -}}

<meta name="author" content="{{ .Site.Author.name}}" />

<!-- FAVICON -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- STYLES -->
{{ $styles := resources.Get "css/style.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}">

<!-- LIBRARIES -->
<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ (resources.Get "lib/photoswipe/photoswipe.css" | fingerprint).Permalink }}" >

<script async defer
        src="{{ (resources.Get "lib/local-stats.js" | fingerprint).Permalink }}"
        data-website-id="a48bbbe9-a3b2-4cbe-8018-4d3619d62ec0"
        data-host-url="https://stats.alexkoen.com"
></script>
<!-- FONTS -->
<link rel="preload" href="/fonts/work-sans-v8-latin-500.woff2" as="font" type="font/woff2"/>
<link rel="preload" href="/fonts/work-sans-v8-latin-regular.woff2" as="font" type="font/woff2"/>
<link rel="preload" href="/fonts/fontawesome-webfont.woff2?v=4.7.0" as="font" type="font/woff"/>
<link rel="preload" href="/fonts/work-sans-v8-latin-600.woff2" as="font" type="font/woff2"/>
