{{/*
IMAGE.HTML - Responsive images using srcset.

Must set site parameters:
- imageResponsiveWidths
- imageWidths
*/}}


{{ $img := .img }}
{{ $widths := $.ctx.Site.Params.imageResponsiveWidths }}
{{ $class := .class}}

{{ $imgSrcSet := slice }}
{{ $imgSrc := "" }}
{{ $imgSrcPair := "" }}
{{ range $widths }}
  {{ $srcUrl := (printf "%dx" . | $img.Resize).RelPermalink }}
  {{ $imgSrcPair = (printf "%s %dw" $srcUrl .) }}
  {{ $imgSrcSet = (append $imgSrcPair $imgSrcSet) }}
  <!-- Make the image url the smallest of the generated images -->
  {{ if eq $imgSrc "" }}{{ $imgSrc = $srcUrl }}{{ end }}
{{ end }}
{{ $imgSrcSet = (delimit $imgSrcSet ",") }}


<figure >
  <img
    class="lazy {{ if $class }} {{ $class }} {{ end  }}"
    widths="{{ $.ctx.Site.Params.imageWidths }}"
    data-src="{{ $imgSrc }}"
    data-srcset="{{ $imgSrcSet }}"
  />
</figure>
