{{/*
IMAGE.HTML - Responsive images using srcset.

USAGE:
{{ partial "image" (dict "ctx" $ "img" "<resource>" "class" "<optional>" "caption" "<optional>") }}

REQUIRED SITE PARAMETERS:
- imageResponsiveWidths
*/}}


{{ $img := .img }}
{{ $class := .class}}
{{ $caption := .caption }}

{{ $unloadedThumb := ($img.Resize "x1") }}
{{ $srcset := (partial "srcset.html" $img) }}

<img
  class="lazy {{ if $class }} {{ $class }} {{ end }}"
  src='{{ $unloadedThumb.Permalink }}'
  data-src="{{ $srcset.src }}"
  data-srcset="{{ $srcset.srcset }}"
  data-sizes="(max-width: 800px) 100vw, 800px"
  alt="{{ $caption }}"
/>
<!-- REVIEW: For some reason, using em units results in incorrect sizing -->
<!-- data-sizes="(max-width: 35em) 100vw, 35em" -->
