<section class="photos">
  <!-- Chocolat plugin -->
  <h2 class="section-header full-width-underline">Photos</h2>
  <!-- <div class="photos__grid"> -->

  <div class="chocolat-parent photos__grid">
    {{ $url := .Title | printf "images/favourites/%s" }}
    {{ $folder := .Title | printf "/static/images/favourites/%s" }}
    {{ $files := readDir $folder }}
    {{ range first 16 $files }}
    <a class="chocolat-image photos__grid__item" href="{{ $url }}{{ .Name}}" title="Hello">
      <img  class="photos__grid__item__img" src="{{ $url }}/{{ .Name}}"/>
    </a>
    {{ end }}
  </div>

  <script src="js/chocolat.js"></script>
  <script>
   document.addEventListener("DOMContentLoaded", function(event) {
    Chocolat(document.querySelectorAll('.chocolat-parent .chocolat-image'))
})
  </script>

</section>
