<!-- LazyLoad -->
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.1/dist/lazyload.min.js"></script>
<script>
 var lazyLoadInstance = new LazyLoad({

 })
</script>

<!-- lightGallery -->
<script src="{{ (resources.Get "lib/lightgallery/lightgallery.min.js" | fingerprint).Permalink }}"></script>
<script src="{{ (resources.Get "lib/lightgallery/lg-hash.min.js" | fingerprint).Permalink }}"></script>
<script src="{{ (resources.Get "lib/lightgallery/lg-video.min.js" | fingerprint).Permalink }}"></script>
<!-- <script>lightGallery(document.getElementById('gallery'), {
     plugins: [lgHash, lgVideo],
     customSlideName: true,
     download: false,
     videojs: false,
     });

     // Close lightbox on back button press
     document.querySelectorAll(".gallery__item").forEach(i => {
     i.addEventListener("click", (event) => {
     var stateObj = { lg: "close" };
     var url = window.location.href;
     history.pushState(stateObj, "Products", url);
     });
     });
     </script> -->

<!-- PhotoSwipe -->
<script type="module">
 // Include Lightbox
 import PhotoSwipeLightbox from '{{ (resources.Get "lib/photoswipe/photoswipe-lightbox.esm.js" | fingerprint).Permalink }}';

 const lightbox = new PhotoSwipeLightbox({
   // may select multiple "galleries"
   gallerySelector: '#gallery',

   // Elements within gallerySelector (slides)
   childSelector: 'a',

   // Include PhotoSwipe Core
   // and use absolute path (that starts with http(s)://)
   pswpModule: '{{ (resources.Get "lib/photoswipe/photoswipe.esm.js" | fingerprint).Permalink }}'
 });

 // Video support
 lightbox.on('itemData', (e) => {
   const element = e.itemData.element;

   if (element  && element.dataset.pswpIsVideo) {
     const videoURL = element.href;
     e.itemData = {
       html: `<video controls preload="none"><source src="${videoURL}" type="video/mp4"> </video>`
     };
   }
 });

 lightbox.init();
</script>

<!-- GoatCounter -->
<script data-goatcounter="https://alexkoen.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
