<!-- LazyLoad -->
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.1/dist/lazyload.min.js"></script>
<script>
 var lazyLoadInstance = new LazyLoad({

 })
</script>

<!-- lightGallery -->
<script src="{{ (resources.Get "lib/lightgallery/lightgallery.min.js" | fingerprint).Permalink }}"></script>
<script src="{{ (resources.Get "lib/lightgallery/lg-hash.min.js" | fingerprint).Permalink }}"></script>
<script src="{{ (resources.Get "lib/lightgallery/lg-video.min.js" | fingerprint).Permalink }}"></script>
<script>lightGallery(document.getElementById('gallery'), {
   plugins: [lgHash, lgVideo],
   customSlideName: true,
   download: false,
   videojs: false,
 });

 // Close lightbox on back button press
 document.querySelectorAll(".gallery__item").forEach(i => {
   i.addEventListener("click", (event) => {
     var stateObj = { lg: "close" };
     var url = window.location.href;
     history.pushState(stateObj, "Products", url);
   });
 });
</script>

<!-- GoatCounter -->
<script data-goatcounter="https://alexkoen.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
