<section id="writing" class="writing">
  <h2 class="section-header full-width-underline">Writing</h2>
  <ul class="writing__posts">
    {{ range union (first 1 (where site.RegularPages "Section" "now")) (first 2 (where site.RegularPages "Section" "posts")) }}
      {{ $url := replace .Permalink .Site.BaseURL "" }}
      <li class="writing__posts__item">
        <aside class="writing__posts__item__date">{{ .Date.Format "Jan 2" }}</aside>
        <a href="{{ .Permalink }}">
          <h3 class="writing__posts__item__title"> {{ .Title }}</h3>
          <p class="writing__posts__item__summary">{{ .Summary | plainify | htmlUnescape}}</p>
        </a>
      </li>
    {{ end }}
  </ul>

  <span class="more">
    <a href="/posts">
      Older Posts →
    </a>
  </span>
</section>
