@import '../spacing';

.hero {
    @extend %container;
    flex-direction: column;

    font-family: $serif;
    margin-top: 12rem;;

    @include min($tablet) {
	max-width: 450px;
	margin: 42vh 0 0 0;
    }
}

.hero-title {
    font-size: 2rem;
    max-width: 450px;
    font-weight: 600;
    color: $black;

    @include min($tablet) {
	font-size: 3rem;
    }
}

.hero-content {
    margin-top: 1em;
    font-family: $sans;
    font-size: 1.5rem;

    max-width: 450px;

    @include min($tablet) {
	font-size: 2rem;
    }
}

.hero__underline {
    background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 80%;
    transition: background-size 0.25s ease-in;

    &:hover {
        background-size: 100% 100%;
    }
}


.hero a {
    text-decoration: underline;
}
