.photos {
    margin-top: 4em;

    @include min($desktop) {
	margin-top: 8em;
    }
}

.photos-text {
    // padding: 2rem;
    max-width: 600px;
    // margin-left: $site-gutter;
    z-index: 1;

    @include min($desktop) {
        margin-right: 15vw;
    }
}

.photos-text h2 {
    font-family: $sans;
    font-size: 0.7em;
    color: $black;
    text-transform: uppercase;
    border-bottom: 2px solid $black;
}

.photos-text h1 {
    font-family: $serif;
    color: $black;
    font-weight: 600;
}

.photos-more-arrow {
    display: none;

    @include min($desktop) {
	display: inline;
	position: absolute;
	height: 3em;
	width: 3em;
	background-image: url(images/forward-arrow.svg) ;
	background-repeat: no-repeat;
	background-size: 100% 100%;

	top: 50%;
	transform: translateY(-50%);
	right: -4em;
	g-index: 2;

	transition: opacity 0.1s linear;

	&:hover {
	    opacity: 0.6;
	    cursor: pointer;
	}

    }
}

.photos-more-button {
    // color: #78a94;
    display: block;
    padding-top: 0.4em;

    svg {
	position: relative;
	width: 1em;
	height: 1em;
	vertical-align: baseline;
    	left: -0.3em;
    	bottom: -2px;
    }
    @include min($desktop) {
	display: none;
    }
}

.photos-gallery {
    position: relative;
    width: 100%;
}

.photos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
    grid-gap: 0.2em;
    justify-content: start;
    width: 100%;
}

.photos-image {
    height: 10em;
    background-size: cover;
    background-position: center;

    @include min($phone) {
	height: 14em;
    }
}

.photos-cover {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: opacity 0.2s linear;

    &:hover {
	display: relative;
	opacity: 0.7;
	cursor: pointer;
    }
}

.photos-cover p {
    text-align: center;

    color: white;
    font-size: 1.5em;
    font-family: $sans;
    font-weight: 700;
    text-transform: uppercase;
    mix-blend-mode: exclusion;
}

// Lightbox
.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #ffffffee;

	cursor: url(images/x-cursor.png), default;

}

.lightbox:target {
    @include min($tablet) {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
    }
}

.lightbox-image {
    width: 100% - 2 * $site-gutter;
    height: 50%;
    display: flex;
    max-width: $site-width;
    margin-right: auto;
    margin-left: auto;
    margin-top: 24vh;

    background-size: cover;
    background-position: center;

    cursor: default;
}

.lightbox-info {
    padding-top: 0.5em;
    justify-content: space-between;
    align-items: center;
}

.lightbox h2 {
    text-size: 2rem;
    font-family: $sans;
    text-transform: uppercase;
    font-weight: 500;
}

