.projects {
    margin-top: 4em;
    width: 100% - 2 * $site-gutter;
    max-width: $site-width;
    margin-left: auto;
    margin-right: auto;
}

.projects > h1 {
    font-family: $sans;
    font-size: 0.7em;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.projects-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -1.5em -1.5em;
}


.projects-carousel-item {
    display: inline-block;
    position: relative;
    flex: 1 1 20em;
    margin: 0 1.5em 1.5em;
    box-shadow: 0 8px 14px rgba(black, 0.2);
    overflow: hidden;

    border-radius: 5px;
    background-color: #fff;

    transition: all 0.4s ease;

    &:hover {
	transition: all 0.6s ease;
	transform: translate3D(0, -1px, 0) scale(1.02);
	cursor: pointer;
    }
}

.projects img {
    width: 100%;
    object-fit: contain;
}

.project-description {
    padding: 1em;
}

#project-description-cil {

    top: 2em;
    left: 0;
    width: 100%;

    &:hover {
	opacity: 0.8;
	cursor: pointer;
    }

}

.project-description h1 {
    font-family: $serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: $black;
    line-height: 1.4;
}

.project-description p {

    font-size: 1.5rem;
    margin-top: 1em;
}



.project-description h2 {
    text-align: right;
    color: #738a94;
    margin-top: 1em;
}
