<!-- Inspired by https://blog.cavelab.dev/2021/06/video-solutions-for-blog/ and
     https://www.s-config.com/video-transcoding-ffmpeg
     /https://blog.zazu.berlin/internet-programmierung/mpeg-dash-and-hls-adaptive-bitrate-streaming-with-ffmpeg.html -->


{{ $src := (.Get "src") }}
{{ $h264 := .Page.Resources.GetMatch (printf "%s.h264.mp4" $src) }}
{{ $basename := ($h264.Name | replaceRE ".*/" "" | replaceRE "\\..*" "") }}
{{ $thumb := resources.GetMatch (printf "/video-thumbs/%s.jpg" $basename) }}

<figure>
  <video controls
         playsinline
         poster="{{ $thumb.Permalink }}"
         preload="metadata">
    <source src="{{ $h264.Permalink }}" type="video/mp4"/>
  </video>
  <figcaption>{{ (.Get "caption") }}</figcaption>
</figure>
